# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.log
node_modules
.DS_Store
*.tmp
*~
/public/dist/
/dist/
/es6/chapter14/c.txt
/es6/chapter14/a.txt
/es6/chapter14/b.txt
package-lock.json
